name: Docker Build

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build Backend Docker Image
      run: docker build -t rdv-backend ./backend
    
    - name: Build Frontend Docker Image
      run: docker build -t rdv-frontend ./frontend